.form-container {
  padding: 10px;
  margin: auto auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  border-color: cornflowerblue;
}

.search-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  border-color: cornflowerblue;
}
